<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8"/>
    <sessionState timeout="5000"/>
  </system.web>
  <system.web>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RemoveASPX" enabled="true" stopProcessing="true">
          <match url="(.*)\.aspx"/>
          <action type="Redirect" url="{R:1}"/>
        </rule>
        <rule name="AddASPX" enabled="true">
          <match url=".*" negate="false"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx"/>
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false"/>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="conString3" connectionString="Data Source=AYISHA\SQLEXPRESSNEW;Initial Catalog=SRADHA;Integrated Security=True"/>
    <add name="conString1" connectionString="Data Source=AYISHA\SQLEXPRESSNEW;Initial Catalog=SRADHA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="conString2" connectionString="Data Source=LAPTOP-CLQ2P8UV;Initial Catalog=Pathsafrica;Integrated Security=True"/>
    <add name="conString" connectionString="Data Source=DESKTOP-O7RNB4D;Initial Catalog=sradha;Integrated Security=True"/>
    <add name="conString4" connectionString="Data Source=SG2NWPLS19SQL-v04.mssql.shr.prod.sin2.secureserver.net;Initial Catalog=SradhaInstitute;User ID=datasra;Password=Ugqa828?8"/>
  </connectionStrings>
</configuration>